#beker{
    background-color:orange;
    color:white;
}
.cimsor{
    color:orange;
}
button{
    color: orange;
}
.balt{
    text-align: center;
    width: 30%;
}
.jobbt{
    text-align: left;
    width: 60%;
}